
<div class="card mb-4 text-white bg-dark">
<div class="card-body">
    <div class="card-title">
       <h2>Name: df</h2>
    </div>
    <div class="card-subtitle mb-2 text-muted">
      <h3> Manager</h3>
    </div>
    <div class="card-text">
       <p> Email: s</p>
        <p>Id:sd</p>
        <p>Office Number:sdf</p>
    </div>
</div>
</div>
   <div class="card mb-4 text-white bg-warning">
     <div class="card-body">
         <div class="card-title">
            <h2>Name:fs</h2>
         </div>
         <div class="card-subtitle mb-2 text-muted">
           <h3>Engineer</h3>
         </div>
         <div class="card-text">
            <p> Role:Engineer</p>
             <p>Email:sf</p>
             <p>Id:s</p>
             <p>Github:sf</p>
         </div>
     </div>
     </div>
    <div class="card mb-4 text-white bg-info">
    <div class="card-body">
        <div class="card-title">
        <h2>Name:fsd</h2>
        </div> 
        <div class="card-subtitle mb-2 text-muted">
        <h3>Intern </h3>   </div>
        <div class="card-text"> 
           <p> Email:sfd</p>
            <p>ID:sfd</p>
            <p>School:sd</p>
        </div>
    </div>
    </div>
    