
<div class="card">
<div class="card-body">
    <div class="card-title">
       Name: first
    </div>
    <div class="card-subtitle mb-2 text-muted">
       Manager
    </div>
    <div class="card-text">
        Email: fdd
        Id:032
        Office Number:dd2
    </div>
</div>
</div>
   <div class="card">
     <div class="card-body">
         <div class="card-title">
            Name:second
         </div>
         <div class="card-subtitle mb-2 text-muted">
           Engineer
         </div>
         <div class="card-text">
             Email:sds
             Id:ds0
             Github:dsds
         </div>
     </div>
     </div>
    <div class="card">
    <div class="card-body">
        <div class="card-title">
        Name:third
        </div> 
        <div class="card-subtitle mb-2 text-muted">
        Intern    </div>
        <div class="card-text">
            Email:fdd
            ID:sdl3
            School:dfs
        </div>
    </div>
    </div>
    