
<div class="card">
<div class="card-body">
    <div class="card-title">
       <h2>Name: Snow white</h2>
    </div>
    <div class="card-subtitle mb-2 text-muted">
      <h3> Manager</h3>
    </div>
    <div class="card-text">
       <p> Email: snowhite@disney.com</p>
        <p>Id:s34</p>
        <p>Office Number:93i4</p>
    </div>
</div>
</div>
   <div class="card text-white bg-warning ">
     <div class="card-body">
         <div class="card-title">
            <h2>Name:Cindrella</h2>
         </div>
         <div class="card-subtitle mb-2 text-muted">
           <h3>Engineer</h3>
         </div>
         <div class="card-text">
            <p> Role:Engineer</p>
             <p>Email:cindrella@disney.com</p>
             <p>Id:23</p>
             <p>Github:cindrella</p>
         </div>
     </div>
     </div><div class="card text-white bg-warning ">
     <div class="card-body">
         <div class="card-title">
            <h2>Name:Elsa</h2>
         </div>
         <div class="card-subtitle mb-2 text-muted">
           <h3>Engineer</h3>
         </div>
         <div class="card-text">
            <p> Role:Engineer</p>
             <p>Email:elsa@disneyfrozen.com</p>
             <p>Id:433</p>
             <p>Github:elsasnow</p>
         </div>
     </div>
     </div><div class="card text-white bg-warning ">
     <div class="card-body">
         <div class="card-title">
            <h2>Name:Ralf</h2>
         </div>
         <div class="card-subtitle mb-2 text-muted">
           <h3>Engineer</h3>
         </div>
         <div class="card-text">
            <p> Role:Engineer</p>
             <p>Email:ralf@flash.com</p>
             <p>Id:2ee</p>
             <p>Github:ralphy</p>
         </div>
     </div>
     </div>
    <div class="card">
    <div class="card-body">
        <div class="card-title">
        <h2>Name:Nora</h2>
        </div> 
        <div class="card-subtitle mb-2 text-muted">
        <h3>Intern </h3>   </div>
        <div class="card-text">
           <p> Email:nora@flash.com</p>
            <p>ID:23230</p>
            <p>School:Star technology</p>
        </div>
    </div>
    </div>
    
    <div class="card">
    <div class="card-body">
        <div class="card-title">
        <h2>Name:Heather</h2>
        </div> 
        <div class="card-subtitle mb-2 text-muted">
        <h3>Intern </h3>   </div>
        <div class="card-text">
           <p> Email:heather@disney.com</p>
            <p>ID:324m</p>
            <p>School:LA ORLANDO</p>
        </div>
    </div>
    </div>
    