
<div class="card mb-4 text-white bg-dark">
<div class="card-body">
    <div class="card-title">
       <h2>Name: Elsa</h2>
    </div>
    <div class="card-subtitle mb-2 text-muted">
      <h3> Manager</h3>
    </div>
    <div class="card-text">
       <p> Email: elza@frozen.com</p>
        <p>Id:232</p>
        <p>Office Number:12323E</p>
    </div>
</div>
</div>
   <div class="card mb-4 text-white bg-warning">
     <div class="card-body">
         <div class="card-title">
            <h2>Name:Snow</h2>
         </div>
         <div class="card-subtitle mb-2 text-muted">
           <h3>Engineer</h3>
         </div>
         <div class="card-text">
            <p> Role:Engineer</p>
             <p>Email:snow@disnye.com</p>
             <p>Id:2193</p>
             <p>Github:snow</p>
         </div>
     </div>
     </div><div class="card mb-4 text-white bg-warning">
     <div class="card-body">
         <div class="card-title">
            <h2>Name:White</h2>
         </div>
         <div class="card-subtitle mb-2 text-muted">
           <h3>Engineer</h3>
         </div>
         <div class="card-text">
            <p> Role:Engineer</p>
             <p>Email:hite@disney.com</p>
             <p>Id:034</p>
             <p>Github:white</p>
         </div>
     </div>
     </div>
    <div class="card mb-4 text-white bg-info">
    <div class="card-body">
        <div class="card-title">
        <h2>Name:Cin</h2>
        </div> 
        <div class="card-subtitle mb-2 text-muted">
        <h3>Intern </h3>   </div>
        <div class="card-text"> 
           <p> Email:cin@disney.com</p>
            <p>ID:33</p>
            <p>School:Disney</p>
        </div>
    </div>
    </div>
    